@{
	ViewBag.Title = "User Add";
	ViewBag.Site = "/User/Form";
}

<center><h1>User successfully registered!</h1></center>

<center><h3>You'll be redirected back soon, if you don't <a href="/User/Form">Click Here</a>.</h3></center>