
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Form</title>
</head>
<body>
	<div>
		<form action="/User/Add">
			<label for="Name"> Name: </label>
			<input id="name" name="u.Name" />
			<label for="Pass"> Password: </label>
			<input id="pass" size="8" maxlength="8" name="u.Pass" />
			<input type="submit" value="Register" />
		</form>
	</div>
</body>
</html>
