@{
	ViewBag.Title = "User Remove";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Remove User</h1>
<form action="/User/Remove" method="post">
	<label for="Id"> Id: </label>
	<input id="id" name="id" />
	<br /><p />
	<input type="submit" value="Remove" />
</form>
