@{
	ViewBag.Title = "User Add";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h3>Add an User to the system</h3></center>

<form action="/User/Add">
  	<div class="form-row">
    	<div class="col-md-6 mb-3">
      		<label for="name">Name</label>
      		<input type="text" class="form-control" name="u.Name" id="name" placeholder="Type the Username" required oninvalid="this.setCustomValidity('You need to type a Username')" oninput="this.setCustomValidity('')">
    	</div>
    	<div class="col-md-6 mb-3">
      		<label for="pass">Password</label>
      		<input type="password" class="form-control" id="pass" name="u.Pass" maxlength="8" placeholder="Type the Password" required oninvalid="this.setCustomValidity('You need to type a Password')" oninput="this.setCustomValidity('')">
    	</div>
  	</div>
	<button class="btn btn-primary container" type="submit" value="Add">Confirm User</button>
</form>