@{
	ViewBag.Title = "User Add";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h3>Add an User to the system</h3></center>

<form action="/User/Add">
	<div class="form-group">
		<label for="Name"> Name: </label>
		<input type="text" class="form-control" name="u.Name" id="name" aria-describedby="helpId" placeholder="Type the Name">
	</div>
	<div class="form-group">
		<label for="Pass"> Password: </label>
		<input type="password" class="form-control" name="u.Pass" maxlength="8" id="pass" placeholder="Type a Password">
	</div>
	<button type="submit" value="Add" class="btn btn-success">Add User</button>
</form>