@{
	ViewBag.Title = "List User";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h3>List the Users already exists in the system</h3></center>

<table class="table table-hover">
	<thead class="thead-dark">
		<tr>
			<th scope="col"># ID</th>
			<th scope="col">Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach ( var user in ViewBag.Users ) {
			<tr>
				<td scope="row">@user.Id</td>
				<td>@user.Name</td>
			</tr>
		}
	</tbody>
</table>
