
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>frmAdd</title>
</head>
<body>
    <div>
        <form action="/Category/Adicionar" method="post">
            <label for="Nome"> Nome: </label>
            <input id="nome" name="c.Name" />
            <br /><p />
            <textarea rows="4" style="resize:none" cols="50" name="c.Description">Digite a descrição da categoria aqui...</textarea>
            <br /><p />
            <input type="submit" value="Cadastrar" />
        </form>
    </div>
</body>
</html>
