@{
	ViewBag.Title = "Category Add";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/CatProd/Add" method="post">
	<label for="Name"> Name: </label>
	<input id="name" name="c.Name" />
	<br /><p />
	<textarea rows="4" style="resize:none" cols="50" name="c.Description">Type the category description here...</textarea>
	<br /><p />
	<input type="submit" value="Add" />
</form>
