@{
	ViewBag.Title = "Category List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Categories</h1>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		@foreach ( var cat in ViewBag.Categories ) {
			<tr>
				<td>@cat.Id</td>
				<td>@cat.Name</td>
				<td>@cat.Description</td>
			</tr>
		}
	</tbody>
</table>
