/Java/Atividade/nbproject/private/
/Java/Atividade/build/
/Java/Avaliacao/nbproject/private/
/Java/Avaliacao/build/
/Java/Joginho/nbproject/private/
/Java/Joginho/build/
/Java/CacaNikill/nbproject/private/
/Java/CacaNikill/nbproject/private
/Java/CacaNikill/build/
/Java/Foca/build/
/Java/Forca/forca/build/
/Java/Forca/forca/nbproject/private/
/Java/Forca/build/
/Java/Forca/nbproject/private/
*.cache
PTCC/RenatinhaPlace/.vs/RenatinhaPlace/DesignTimeBuild/.dtbcache
PTCC/RenatinhaPlace/RenatinhaPlace/obj/Debug/RenatinhaPlace.csprojAssemblyReference.cache
PTCC/RenatinhaPlace/RenatinhaPlace/obj/Debug/RenatinhaPlace.csproj.CoreCompileInputs.cache
PTCC/RenatinhaPlace/.vs/RenatinhaPlace/v15/Server/sqlite3/storage.ide-wal
PTCC/RenatinhaPlace/.vs/RenatinhaPlace/v15/Server/sqlite3/storage.ide-shm
PTCC/RenatinhaPlace/.vs/RenatinhaPlace/v15/Server/sqlite3/storage.ide
PTCC/RenatinhaPlace/.vs/RenatinhaPlace/v15/.suo
