/Java/Atividade/nbproject/private/
/Java/Atividade/build/
/Java/Avaliacao/nbproject/private/
/Java/Avaliacao/build/
/Java/Joginho/nbproject/private/
/Java/Joginho/build/
/Java/CacaNikill/nbproject/private/
/Java/CacaNikill/nbproject/private
/Java/CacaNikill/build/
/Java/Foca/build/
/Java/Forca/forca/build/
/Java/Forca/forca/nbproject/private/
/Java/Forca/build/
/Java/Forca/nbproject/private/
*.cache
*.dtbcache
*.csprojAssemblyReference.cache
*.csproj.CoreCompileInputs.cache
*.ide-wal
*.ide-shm
*.ide
*.suo
ASPNET/LojaWeb/.vs/LojaWeb/v15/.suo
ASPNET/LojaWeb/.vs/LojaWeb/v15/Server/sqlite3/storage.ide
