
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
	<link rel="stylesheet" href="~/Content/bootstrap.min.css">
</head>
<body>

	<ul class="nav nav-tabs" id="navId">
		<li class="nav-item">
			<a href="/Home/Index" class="nav-link active">Home</a>
		</li>
		<li class="nav-item">
			<a href="/User/Form" class="nav-link">Usuário</a>
		</li>
		<li class="nav-item">
			<a href="/Product/Form" class="nav-link">Produto</a>
		</li>
		<li class="nav-item">
			<a href="/CatProd/Form" class="nav-link">Categoria de Produto</a>
		</li>
	</ul>

	<div>

		<h3>Por agora essa página não serve para nada, só para você escolher uma de cima.</h3>

	</div>
</body>
</html>
