
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <style>
        hr {
            margin-left: -75%;
            width: 25%;
        }
    </style>
</head>
<body>
    <div>
        <h1>Menu</h1>

        <form action="/User/Index">
            <label for="lstU"> Listar Usuários - </label>
            <input align="center" type="submit" value="Listar" />
        </form>
        <p />
        <hr>
        <p />
        <form action="/User/frmAdd">
            <label for="cadU"> Cadastro do Usuário - </label>
            <input type="submit" value="Cadastro" />
        </form>
        <p />
        <hr>
        <p />
        <form action="/User/frmAttDel">
            <label for="altdelU"> Alteração/Exclusão do Usuário - </label>
            <input type="submit" value="Alteração" />
        </form>
        <p />
        <hr>
        <p />
        <form action="/Category/Index">
            <label for="lstC"> Listar Categorias - </label>
            <input type="submit" value="Listar" />
        </form>
        <p />
        <hr>
        <p />
        <form action="/Category/frmAdd">
            <label for="cadC"> Cadastro Categoria - </label>
            <input type="submit" value="Cadastro" />
        </form>
        <p />
        <hr>
        <p />
        <form action="/Product/Index">
            <label for="lstP"> Listar Produtos - </label>
            <input type="submit" value="Listar" />
        </form>
        <p />
        <hr>
        <p />
        <form action="/Product/frmAdd">
            <label for="cadP"> Cadastro Produto - </label>
            <input type="submit" value="Cadastro" />
        </form>
    </div>
</body>
</html>
