<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@ViewBag.Title - LojaWeb</title>
	<meta name="description" content="LojaWeb ASP.NET MVC5 w/ MySQL learn Project" />
	<link rel="apple-touch-icon" sizes="57x57" href="~/Resources/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="~/Resources/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="~/Resources/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="~Resources/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="~/Resources/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="~/Resources/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="~/Resources/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="~/Resources/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="~/Resources/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="~/Resources/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/Resources/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="~/Resources/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/Resources/favicon-16x16.png">
	<link rel="manifest" href="~/Resources/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="~/Resources/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="~/Content/bootstrap.css" />
	<link rel="stylesheet" href="~/Content/mdb.css" />
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 container">
			<a class="navbar-brand mb-0 h1" href="#">LojaWeb</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav nav-pills mr-auto">
					<li class="nav-item">
						<a href="/Home/Index" class="nav-link">HOME</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USER</a>
						<div class="dropdown-menu" aria-labelledby="dropUser">
							<a class="dropdown-item" href="/User/Index">List</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/User/Form">Add</a>
							<a class="dropdown-item" href="/User/FormUp">Update</a>
							<a class="dropdown-item" href="/User/FormDel">Delete</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropProd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PRODUCT</a>
						<div class="dropdown-menu" aria-labelledby="dropProd">
							<a class="dropdown-item" href="/Prod/Index">List</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/Prod/Form">Add</a>
							<a class="dropdown-item disabled" href="#">Update</a>
							<a class="dropdown-item disabled" href="#">Delete</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropCatProd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CATEGORY</a>
						<div class="dropdown-menu" aria-labelledby="dropCatProd">
							<a class="dropdown-item" href="/CatProd/Index">List</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/CatProd/Form">Add</a>
							<a class="dropdown-item disabled" href="#">Update</a>
							<a class="dropdown-item disabled" href="#">Delete</a>
						</div>
					</li>
				</ul>
				<span class="navbar-text">
					--Welcome-to-the-future
				</span>
			</div>
		</div>
	</nav>
	<br />
	<br />
	<br />
	<div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 container">
		@RenderBody()
	</div>

	<footer class="page-footer font-small pt-1 rgba-black-strong fixed-bottom">
		<div class="footer-copyright text-center py-3">
			<a href="#">LojaWeb</a> &copy; @DateTime.Now.Year - ALL RIGHTS RESERVED.
		</div>
	</footer>

	<script src="~/Scripts/jquery-3.3.1.slim.js"></script>
	<script src="~/Scripts/popper.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
